extends ../layouts/mainLayout.pug

block headDescription
  meta(name='description' content='Create a beautiful code snippet for others to see.')
block headTitle
  title Create a Code Snippet | Code Snippets

block content
  div.page-container.center-container
    - const endpointCreate = `/users/${data.user.id}/snippets/create`
    form(action=endpointCreate id='createSnippet' method='post' class='code-form')
      +inputText('language', 'Programming Language')
      +inputTextArea('text', 'Code')
      div.row
        +getButton('Cancel', 'medium', '/home', 'neutral')
        +button('submit', 'Create', 'medium')
