extends ../layouts/mainLayout.pug 

block headTitle
  title Home | Code Snippets

block content
  div.page-container.home-container
    div.welcome
      if data.user
        h2 Hey, #{ data.user.username }!
        - const endpointCreate = `/users/${data.user.id}/snippets/create`
        +getButton('Create Snippet', 'medium', endpointCreate)
      else
        h2 Wall of Code Snippets
    div.snippets
      if data.snippets
        each snippet in data.snippets
          +snippetBox(snippet)
