extends ../layouts/mainLayout.pug

block headDescription
  meta(name='description' content='Log in to be able to create awesome code snippets.')
block headTitle
  title Log In | Code Snippets

block content
  div.page-container.center-horizontal-container
    h1 Welcome Back!
    form(action='/auth/login' method='post')
      +inputText('username', 'Username')
      +inputPassword('password', 'Password')
      +button('submit', 'Log In', 'medium')
