extends ../layouts/mainLayout.pug

block headDescription
  meta(name='description' content='Sign up to be able to create awesome code snippets.')
block headTitle
  title Sign Up | Code Snippets

block content
  div.page-container.center-horizontal-container
    h1 Join Us!
    form(action='/auth/signup', method='post')
      +inputText('username', 'Username')
      +inputPassword('password', 'Password')
      +button('submit', 'Sign Up', 'medium')
