extends ../layouts/mainLayout.pug

block headDescription
  meta(name='description' content='Update your beautiful code snippet for others to see.')
block headTitle
  title Update a Code Snippet | Code Snippets

block content
  div.page-container.center-container
    - const endpointUpdate = `/users/${data.user.id}/snippets/${data.snippet.id}/update`
    form(action=endpointUpdate id='updateSnippet' method='post' class='code-form')
      +inputText('language', 'Programming Language', data.snippet.language)
      +inputTextArea('text', 'Code', data.snippet.text)
      div.row
        +getButton('Cancel', 'medium', '/home', 'neutral')
        +button('submit', 'Update', 'medium')
