mixin button(btnType, text, btnSize, colorType='primary')
  button(type=btnType class=`btn btn-${btnSize} btn-${colorType}`) #{ text }

mixin getButton(text, btnSize, endpoint, colorType='primary')
  a(href=endpoint class=`btn btn-${btnSize} btn-${colorType}`) #{ text }

mixin postButton(text, btnSize, endpoint, formId, colorType='primary')
  form(action=endpoint id=formId method='post' class='postBtn')
    button(type='submit' class=`btn btn-${btnSize} btn-${colorType}`) #{ text }
