mixin inputText(id, label, value='')
  div.input
    label(for=id) #{ label }
    input(
      type='text'
      name=id
      id=id
      value=value
      autocomplete='off'
    )

mixin inputPassword(id, label)
  div.input
    label(for=id) #{ label }
    input(
      type='password'
      name=id
      id=id
      autocomplete='off'
    )

mixin inputTextArea(id, label, value='')
  div.input
    label(for=id) #{ label }
    textarea(
      name=id
      id=id
      rows='15'
      autocomplete='off'
      spellcheck='false'
    ) #{ value }
