mixin snippetBox({ id, user, language, text, createdAt, updatedAt })
  div.snippet-container
    div.header
      div.username
        p #{ user.username }
      div.date
        - const formatDate = (date) => new Date(date).toLocaleDateString()
        p #{ formatDate(createdAt) }
    div.code-container
      pre(data-lang=language)
        code #{ text }  
    - const isAuthorized = data.user && data.user.id === user.id
    if (isAuthorized)
      div.action-btns
        - const endpointUpdate = `/users/${user.id}/snippets/${id}/update`
        +getButton('Update', 'small', endpointUpdate, 'info')
        - const endpointDelete = `/users/${user.id}/snippets/${id}/delete`
        +postButton('Delete', 'small', endpointDelete, 'deleteSnippet', 'danger')
