.btn {
  display: block;
  border: none;
  border-radius: var(--border-radius-large);
  box-shadow: 0 2px 10px -5px var(--black);
  background: transparent;
  color: var(--white);
  font-size: 100%;
  font-family: inherit;
  text-transform: lowercase;
  outline: none;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.btn:hover {
  box-shadow: 0 2px 14px -5px var(--black);
}

.btn-medium {
  padding: 8px 15px;
  margin: 0 10px;
  letter-spacing: var(--letter-spacing-small);
}

.btn-small {
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 12px;
}

.btn-primary {
  background: var(--primary-theme-bg);
  background: var(--primary-theme-bg-gradient);
}

.btn-info {
  background-color: var(--blue);
}

.btn-neutral {
  background-color: var(--gray-medium);
}

.btn-danger {
  background-color: var(--red);
}
