.alert {
  position: absolute;
  top: 15px;
  left: 50%;
  padding: 10px 30px;
  border-radius: var(--border-radius-medium);
  animation-name: alert;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.alert-success {
  background-color: var(--green);
  color: var(--black);
}

.alert-danger {
  background-color: var(--red);
  color: var(--white);
}

.alert-info {
  background-color: var(--blue);
  color: var(--white);
}

@keyframes alert {
  0% {
    opacity: 0;
    transform: scale(0) translateX(-50%);
  }
  10% {
    opacity: 1;
    transform: scale(1) translateX(-50%);
  }
  80% {
    opacity: 1;
    transform: scale(1) translateX(-50%);
  }
  90% {
    opacity: 1;
    transform: scale(1.1) translateX(-50%);
  }
  100% {
    opacity: 0;
    transform: scale(0) translateX(-50%);
  }
}
