footer {
  width: 100%;
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--gray-light);
}

footer > p {
  color: var(--gray-medium);
}
