form:not(.postBtn) {
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border: 1px solid var(--gray-light);
  border-radius: var(--border-radius-medium);
  background-color: var(--white);
}

.code-form {
  max-width: 1000px;
}

form:not(.postBtn) > *:last-child {
  margin-top: 40px;
}

form .input {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  margin: 5px 0 15px;
  border: 1px solid var(--gray-light);
  border-radius: var(--border-radius-medium);
  background: transparent;
  color: var(--black);
  font-size: 100%;
  font-family: inherit;
  outline: none;
}

form input {
  height: 50px;
  padding: 0 20px;
}

form textarea {
  padding: 20px;
  white-space: nowrap;
  overflow: auto;
  scrollbar-width: thin;
}

.code-form textarea {
  font-family: var(--code-font);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

form label {
  color: var(--gray-medium);
}
