header {
  width: 100%;
  height: var(--header-height);
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray-light);
  background-color: var(--white);
  z-index: 100;
}

header > nav > ul {
  display: flex;
  padding-right: 10px;
}
