:root {
  /* Colors */
  --primary-theme-color: rgba(178, 108, 255, 1);
  --primary-theme-bg: rgb(181,115,255);
  --primary-theme-bg-gradient: linear-gradient(90deg, rgba(181,115,255,1) 0%, rgba(178,108,255,1) 30%, rgba(163,81,255,1) 63%);
  --white: rgb(255, 255, 255);
  --almost-white: #fafafa;
  --gray-light: rgba(216, 216, 216, 1);
  --gray-medium: rgba(172, 172, 172, 1);
  --gray-dark: rgba(82, 82, 82, 1);
  --black: rgba(27, 27, 27, 1);
  --green: rgb(198, 255, 198);
  --blue: rgba(158, 192, 255, 1);
  --red: rgba(255, 95, 95, 1);
  --purple-dark: rgb(22, 26, 66);
  --purple-gray: rgb(34, 38, 76);

  /* Fonts */
  --primary-font: 'Poppins', sans-serif;
  --code-font: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

  /* Sizes */
  --border-radius-large: 20px;
  --border-radius-medium: 10px;
  --letter-spacing-small: 1px;
  
  /* Elements */
  --header-height: 70px;
  --footer-height: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
}

body {
  width: 100vw;
  min-height: 100vh;
  color: var(--black);
  font-family: var(--primary-font);
  font-size: 14px;
  overflow-x: hidden;
}

main {
  width: 100%;
  position: relative;
}

h1 {
  margin: 40px 0 60px;
  font-size: 4em;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h3,
h4 {
  margin: 20px 0;
  font-size: 20px;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
