/* Universal */

.page-container {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  padding: 30px;
  background-color: var(--almost-white);
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23f0f0f0' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-horizontal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}


/* Home Page */

.home-container {
  display: flex;
  flex-direction: column;
}

.home-container > .welcome {
  margin: 10px 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-container > .snippets {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}


/* Error Pages */

.error-page .error-info {
  color: var(--gray-dark);
  font-size: 16px;
}

.error-page .btn {
  margin: 60px 0 40px;
}
