.snippet-container {
  width: 30%;
  min-width: 200px;
  height: auto;
  min-height: 250px;
  margin: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.snippet-container .header {
  display: flex;
  justify-content: space-between;
}

.snippet-container .username {
  min-width: 50px;
  padding: 4px 20px;
  border-top-left-radius: var(--border-radius-medium);
  border-top-right-radius: var(--border-radius-medium);
  background-color: var(--gray-light);
  color: var(--gray-dark);
  text-transform: lowercase;
}

.snippet-container .date {
  padding: 5px 20px;
  color: var(--gray-medium);
}

.code-container {
  height: 100%;
  padding: 20px;
  border-radius: var(--border-radius-medium);
  border-top-left-radius: 0;
  box-shadow: 0 0 0 var(--black);
  background-color: var(--purple-dark);
  transition: all 100ms ease-in-out;
}

.code-container:hover {
  box-shadow: 0 4px 20px -5px var(--black);
}

pre {
  height: 100%;
  max-height: 400px;
  position: relative;
  padding-top: 40px;
  border-radius: var(--border-radius-medium);
  border-top-left-radius: 0;
  background: none;
  overflow: auto;
  scrollbar-width: thin;
}

pre[data-lang]::before {
  content: attr(data-lang);
  position: absolute;
  top: 10px;
  right: 20px;
  display: block;
  color: var(--primary-theme-color);
  font-family: var(--primary-font);
}

pre,
code {
  color: var(--white);
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: var(--code-font);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.snippet-container .action-btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}
