header
  div
    +getButton('Snippets', 'medium', '/home')
  nav
    ul
      li
        +getButton('Log In', 'medium', '/auth/login')
      li
        +getButton('Sign Up', 'medium', '/auth/signup')
