extends ../layouts/mainLayout.pug 

block headTitle
  title 404 Not Found

block content
  div.page-container.center-horizontal-container.error-page
    h1 404 Not Found
    p.error-info Looks like your lost...
    +getButton('Take me back home', 'medium', '/home')
