extends ../layouts/mainLayout.pug 

block headTitle
  title 500 Error

block content
  div.page-container.center-horizontal-container.error-page
    h1 500 Internal Error
    p.error-info We're sorry, we've run into an issue...
    +getButton('Take me back home', 'medium', '/home')
