extends ../layouts/mainLayout.pug 

block headTitle
  title #{ error && error.status } Error

block content
  div.page-container.center-horizontal-container.error-page
    if error
      h1 #{ error.status } Error
      h4  #{ error.message }
      p.error-info All details: #{ JSON.stringify(error) }
    else
      h1 Error
      h4 Something went wrong...
    +getButton('Take me back home', 'medium', '/home')
