include ../mixins/button.pug
include ../mixins/snippetBox.pug
include ../mixins/form.pug

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    block headDescription
      meta(name='description' content='A web application for posting code snippets.')
    link(rel='stylesheet' type='text/css' href='/css/styles.css')
    block headTitle
      title Code Snippets
  body
    // Add empty script tag to prevent FOUC (Flash of Unstyled Content)
      - (forces all css to load before showing the content)
    script 0
    if data && data.user
      include ../includes/headerAuthenticated.pug
    else
      include ../includes/header.pug
    main
      include ../includes/flash.pug
      block content
    include ../includes/footer.pug
